@media screen and (max-width: 996px) {
    .featcard {
        margin: 1rem;
        padding: 1rem;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
}

.featcard {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.featcard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.featDiv {
    /* background-color: aqua; */
    width: 80%;
}