  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,900&display=swap');

  .small {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      line-height: 1.5rem;
  }

  .year {}

  .medium {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      line-height: 1.5rem;
  }

  .large {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
  }

  .xlarge {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      line-height: 1.5rem;
  }

  .xxlarge {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      line-height: 1.5rem;
  }