body {
    font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 1.05rem;
    font-weight: 600;
    line-height: 1.1;
}

.postcard {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    vertical-align: middle;
    padding: 20px 20px 0px 20px;
}

.postcard:hover {
    background-color: var(--ifm-color-primary-lightest);
    border-radius: 10px;
    color: aliceblue;
    transition: background-color 0.5s ease;
}

.postdate {
    min-width: 80px;
    font-size: 0.9rem;
    font-weight: 500;
}